<!-- Modal -->
<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modelTitleId"><i class="ti-plus"></i> Add a car</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="car-color"><i class="ti-paint-bucket"></i> Color</label>
                    <input type="text" id="car-color" class="form-control">
                </div>

                <div class="form-group">
                    <label for="car-model"><i class="ti-settings"></i> Model</label>
                    <input type="text" id="car-model" class="form-control">
                </div>

                <div class="form-group">
                    <label for="car-brand"><i class="ti-car"></i> Brand</label>
                    <input type="text" id="car-brand" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ti-close"></i> Close</button>
                <button type="button" class="btn btn-primary" id="saveCar">
                    <i class="ti-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
