<div class="row" id="filters">
    <div class="col-md-4">
        <div class="form-group">
            <label for="color">Filter by color</label>
            <input type="text" class="form-control" id="color">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="color">Filter by model</label>
            <input type="text" class="form-control" id="model">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="color">Filter by brand</label>
            <input type="text" class="form-control" id="brand">
        </div>
    </div>
</div>