<!-- Nav tabs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <a class="navbar-brand" href="/"><i class="ti-home"></i> CARS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#addCarModal">
                    <i class="ti-plus"></i> Add a car</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="ti-world"></i> API
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/api/cars">cars</a>
                    <a class="dropdown-item" href="/api/cars?color=red">?color=red</a>
                    <a class="dropdown-item" href="/api/cars?color=r&brand=mer">?color=r&brand=mer</a>
                    <a class="dropdown-item" href="/api/car/1">car/1</a>
                </div>
            </li>



        </ul>

    </div>
</nav>